<div class="sidebar">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      {% for link in linklists.main-menu.links %}
      <li class="first-item">
        <a href="{{link.url}}">{{link.title }} 
        	{% if link.links.size > 0 %}
            <img src="https://cdn.shopify.com/s/files/1/0629/8825/5490/files/next.png?v=1646241564" class="img-fluid right-arrow" alt="icon">
            {% endif %}
        </a>
        {% if link.links.size > 0 %}
        <div class="mega-menu">
          <div class="row">
            {%- for childlink in link.links -%}
            <div class="col-3">
              <ul class="sub-menu">
                  <li class="sub-item">
                 	 <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                  </li>
                  {%- for grandchildlink in childlink.links -%}
                  <li class="child-item">
                    <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                  </li>
                 {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
      	</div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>