{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding{% if section.settings.width %} page-width {% endif %}">
        <img style="object-fit: cover;object-position:{{section.settings.position}};margin-bottom: -8px;" width="100%" height="{{section.settings.height}}" src="{{section.settings.image | image_url }}" alt="">  
  </div>
</div>

{% schema %}
{
  "name": "Long Baner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "height",
      "label": "Banner Height",
      "default": "300px"
    },
    {
      "type": "checkbox",
      "id": "width",
      "label": "Enable Full Width"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Image Positions",
      "default": "top",
      "options": [
        {
          "value": "bottom",
          "label": "bottom"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "top",
          "label": "top"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Long Banner"
    }
  ]
}
{% endschema %}
