{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.75);
      padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
  
      }
      
    }
  {%- endstyle -%}
  <link rel="stylesheet" href="{{ 'headercustom.css' | asset_url }}">

  <div class="color-{{ section.settings.color_scheme }} new-header  gradient">
    <div class="section-{{ section.id }}-padding page-width">
      <div class="header-bottom">
        <div class="">
          <div class="row">
            <div class="col-md-2 col-2">
              <div id="mega-menu">
                <div class="btn-mega"><span></span>CATEGORIES</div>
                <ul class="menu">
                  {%- for link in section.settings.l_menu.links -%}
                  <li>
                    <a href="{{link.url}}" title="" class="dropdown">
                      <span class="menu-title"> {{link.title}} </span>
                    </a>
                    {% if link.links != blank %}
                    <div class="drop-menu">
                      {%- for childlink in link.links -%}
                      <div class="one-third">
                        <div class="cat-title"> <a href="{{childlink.url}}"> {{childlink.title}} </a> </div>
                        {%- if childlink.links != blank -%}
                        <ul>
                          {%- for grandchildlink in childlink.links -%}
                          <li>
                            <a href="{{grandchildlink.url}}" title=""
                              >{{grandchildlink.title}}</a
                            >
                          </li>
                          {% endfor %}
                        </ul>
                        <div class="show">
                          <a href="{{childlink.url}}" title="">Shop All</a>
                        </div>
                        {% endif %}
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- /.col-md-3 col-2 -->
            <div class="col-md-10 col-10 ">
              <div class="nav-wrap">
                <div id="mainnav" class="mainnav">
                  <ul class="menu">
                    {%- for link in section.settings.m_menu.links -%}
                    <li class="column-1">
                      <a href="{{  link.url}}" title="">{{- link.title | escape -}}</a>
                      {% if link.links != blank %}
                        <ul class="submenu">
                        {%- for childlink in link.links -%}
                        <li>
                          <a href="{{ childlink.url }}" title=""
                            ><i
                              class="fa fa-angle-right"
                              aria-hidden="true"
                            ></i
                            > {{ childlink.title | escape }}</a
                          >
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      
                      <!-- /.submenu -->
                    </li>
                    {% endfor %}
                  </ul>
                  <!-- /.menu -->
                </div>
                <!-- /.mainnav -->
              </div> 
              
              <!-- /.nav-wrap -->
              <div class="today-deal">
                
                <a href="{{section.settings.url}}" title="">{{ section.settings.title }}</a>

              </div>
              <!-- /.today-deal -->
              <div class="btn-menu">
                <span></span>
              </div>
              <!-- //mobile menu button -->
            </div>
            <!-- /.col-md-9 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
    </div>
  </div>


  <script src="{{ 'megamenu.js' | asset_url }}" defer="defer"></script>
  
  {% schema %}
  {
    "name": "New Header",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      },
      {
      "type": "link_list",
      "id": "m_menu",
      "default": "main-menu",
      "label": "Middle menu"
    },
    {
      "type": "link_list",
      "id": "l_menu",
      "default": "main-menu",
      "label": "Left Menu"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Button Title"
    },
    {
      "type": "text",
      "id": "url",
      "label": "Button link"
    }
    ],
    "presets": [
      {
        "name": "New Header"
      }
    ]
  }
  {% endschema %}
  