{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.75);
      padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
  <style>
   .arrow-next.slick-arrow{
    right: 0px
  }
  .arrow-prev.slick-arrow{
    left: 0px
  }
  .product-slick-slider .card:not(.ratio) {
    height: 400px;
   }
  .underline-links-hover:hover a {
    text-decoration: none;
    color: rgb(198 1 89);
}
    #SectionHeading-{{ section.id }} {
      padding-bottom: 20px
    }
    #SectionHeading-{{ section.id }} .product-slick-slider .card-wrapper{
     padding:5px
   }
   #SectionHeading-{{ section.id }} .countdown_text{
	font-size: calc(var(--font-heading-scale) * 3rem);
	margin-left: 2rem;
}

#SectionHeading-{{ section.id }} .day,#SectionHeading-{{ section.id }} .hour,#SectionHeading-{{ section.id }} .minute,#SectionHeading-{{ section.id }} .second{
	background: #fff;
	padding: 5px;
	margin: 5px;
	color: #000;
    border-radius: 15px;
	font-size: calc(var(--font-heading-scale) * 3rem);
  }
     @media screen and (max-width: 750px) {
      .product-slick-slider .card:not(.ratio) {
    height: 330px;
   }
      }
</style>
  <div class=" gradient isolate">
    <div class="color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding page-width">
        <h2
          id="SectionHeading-{{ section.id }}"
          class="collection-list-title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        >
        {{ section.settings.title }} 
        {% if section.settings.date != blank %}
          <span class="countdown_text">Ends In</span>
          <span id="countdown-{{ section.id }}"></span>
        {% endif %}
            {% comment %} <a style="float: right;"
              href="{{ section.settings.collection.url }}"
            >
            See More →
            </a> {% endcomment %}
        </h2>
        <ul class="product-slick-slider ">
            {%- for product in section.settings.collection.products  -%}
            <li style="padding:5px;">
                {% render 'card-product', card_product: product, %}
            </li>
            {% endfor %}
        </ul>
    </div>
  </div>

  <script>
    // Set the date we're counting down to
  var connn-"{{section.id}}" = new Date("{{section.settings.date}}").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = connn-"{{section.id}}" - now;

  // Time calculations for day, hour, minute and second
  var day = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hour = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minute = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var second = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("countdown-{{ section.id }}").innerHTML = "<span class='day'>" + day +  "d " + "</span>"  +"<span class='hour'>" + hour  + "h " + "</span>" + "<span class='minute'>" + minute + "m "  + "</span>" + "<span class='second'>" + second + "s " + "</span>" ;

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown-{{ section.id }}").innerHTML = "EXPIRED";
  }
}, 1000);
  </script>
  
  {% schema %}
  {
    "name": "Product Slider",
    "tag": "section",
    "class": "section",
    "settings": [
        {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.collection-list.settings.title.default",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "text",
      "id": "date",
      "label": "Select Date",
      "default": "July 3, 2025 00:00:00",
      "info":"M D, Y H:M:S"
      },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "presets": [
      {
        "name": "Product Silder"
      }
    ]
  }
  {% endschema %}
  