{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.75);
      padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
  <style>
    .box22{
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    .box22 img{
        height: 200px;
        width: 200px;
    }
  </style>
  <div class="color-{{ section.settings.color_scheme }} gradient isolate">
    <div class="section-{{ section.id }}-padding page-width">
      <h3>Shop With Brands</h3>
        <div class="box22">
            {% for block in section.blocks %}
                <div class="item11">
                <a href="{{block.settings.link}}">
                    <img src="{{ block.settings.image | image_url }}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
  
  {% schema %}
  {
    "name": "Brand Shop",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "blocks": [
        {
            "type": "column",
            "name": "Add Slide",
            "settings": [
                {
                "type": "image_picker",
                "id": "image",
                "label": "Select image"
                },
                {
                "type": "text",
                "id": "link",
                "label": "Url"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Brand Shop"
      }
    ]
  }
  {% endschema %}
  