{{ 'component-sliders.css' | asset_url | stylesheet_tag: preload: true }}
  
{%- liquid
  assign s = section.settings
  assign slider_height = s.slider_height
-%}

<div class="sliders {% if section.settings.center_width %} page-width page margin  {% endif %}">
  <div class="slider-items">
    {% for block in section.blocks %}
      {%- liquid
        assign b = block.settings
        assign heading = b.heading
        assign sub_heading = b.sub_heading
        assign text = b.text
        assign btn_label = b.btn_label
        assign url = b.url
        assign second_label = b.second_label
        assign second_url = b.second_url
        assign bg_image = b.bg_image
        assign bg_image_mob = b.bg_image_mob
        assign video = b.video
        assign content_position = b.content_position
        assign color_scheme = b.color_scheme
        assign content_alignment = b.content_alignment
        assign enable_link = b.enable_link
        assign opacity = b.opacity | divided_by: 10.0

        if bg_image_mob == blank
          assign bg_image_mob = bg_image
        endif
      -%}
      <div class="slider-item {{slider_height}} color-{{ color_scheme }} gradient">
        <div class="slider-info {{content_position}}">
          <div class="page-width w-100">
            <div class="slider-content content_{{content_alignment}}">
              {%- if heading != blank -%}
                <h2 class="slider-heading">{{ heading }}</h2>
              {%- endif -%}
              {%- if sub_heading != blank -%}
                <h3 class="slider-subheading">{{ sub_heading }}</h3>
              {%- endif -%}
              {%- if text != blank -%}
                <div class="slider-text">
                  {{ text }}
                </div>
              {%- endif -%}
              {%- if btn_label != blank or second_label != blank -%}
                <div class="sliderr-buttons">
                  <a href="{{url}}" class="btn btn-primary">{{ btn_label }}</a>
                  {%- if second_label != blank -%}
                    <a href="{{second_url}}" class="btn secondary-btn">{{ second_label }}</a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
            {% if enable_link %}
              <a href="{{url}}" class="slider-link"></a>
            {% endif %}
          </div>

        </div>
        <div
          class="slider-media"
          id="slider_{{ forloop.index }}"
          style="background: #000000;content:'' ;position: absolute; z-index: 1; display: block; width: 100%;height: 100%;opacity: {{opacity}};">
          {%- if video != blank -%}
            <video
              class="slider-video"
              muted
              loop
              autoplay>
              <source src="{{video.sources[1].url}}" type="video/mp4">
            </video>
          {% else %}
            {%- if bg_image != blank -%}
              {{
                bg_image | image_url: width: 3200 | image_tag: loading: 'lazy', widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200', class: 'slider-img desk'
              }}
              {{
                bg_image_mob | image_url: width: 3200 | image_tag: loading: 'lazy', widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200', class: 'slider-img mobile'
              }}
            {% else %}
              {{ 'hero-apparel-1' | placeholder_svg_tag: 'hero-placeholder-svg' }}
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>


    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Slick",
    "settings": [
      {
        "type": "select",
        "id": "slider_height",
        "label": "Height",
        "options": [
          {
            "label": "Large",
            "value": "large"
          }, {
            "label": "Medium",
            "value": "medium"
          }, {
            "label": "Small",
            "value": "small"
          }
        ],
        "default": "large"
      }, {
        "type": "checkbox",
        "id": "center_width",
        "label": "Center Width Slider"
      }
    ],
    "blocks": [
      {
        "name": "Slides",
        "type": "slides",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image"
          },
          {
            "type": "image_picker",
            "id": "bg_image_mob",
            "label": "Background Image(Mobile)"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          }, {
            "type": "header",
            "content": "Content"
          }, {
            "type": "select",
            "id": "content_position",
            "label": "Content Position",
            "options": [
              {
                "label": "Left Center",
                "value": "left-center"
              },
              {
                "label": "Left Top",
                "value": "left-top"
              },
              {
                "label": "Left Bottom",
                "value": "left-bottom"
              },
              {
                "label": "Right Center",
                "value": "right-center"
              }, {
                "label": "Right Top",
                "value": "right-top"
              }, {
                "label": "Right Bottom",
                "value": "right-bottom"
              }, {
                "label": "Center Center",
                "value": "center-center"
              }, {
                "label": "Center Top",
                "value": "center-top"
              }, {
                "label": "Center Bottom",
                "value": "center-bottom"
              }
            ],
            "default": "center-center"
          }, {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Aligment",
            "options": [
              {
                "label": "Left",
                "value": "left"
              }, {
                "label": "Center",
                "value": "center"
              }, {
                "label": "Right",
                "value": "right"
              }
            ],
            "default": "left"
          }, {
            "type": "range",
            "id": "opacity",
            "label": "Opacity",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 10
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Dream Spaces: Your Imagination, Our Blueprint"
          }, {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub Heading",
            "default": "Discover our vast collection of curated designs and embark on a journey to redefine your living space."
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "header",
            "content": "Button"
          }, {
            "type": "text",
            "id": "btn_label",
            "label": "Button Label",
            "default": "Shop now"
          }, {
            "type": "url",
            "id": "url",
            "label": "Button link"
          }, {
            "type": "header",
            "content": "Button(2nd)"
          }, {
            "type": "text",
            "id": "second_label",
            "label": "Button Label(2nd)"
          }, {
            "type": "url",
            "id": "second_url",
            "label": "Button link(2nd)"
          }, {
            "type": "checkbox",
            "id": "enable_link",
            "label": "Enable Link",
            "default": false
          }, {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "accent-1"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slick Slider",
        "settings": {}
      }
    ]
  }
{% endschema %}